@model Product

@* @{
    ViewData["Title"] = $"View {Model.Name}";
} *@

<a asp-controller="Product" asp-action="Index" class="btn btn-primary">Go Back to Products</a>
<h3 class="my-5">Product Detail</h3>
<table class="table rounded-3 table-success table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.Name)</td>
            <td>@Html.DisplayFor(model => model.Price)</td>
            <td>@Html.DisplayFor(model => model.Description)</td>
            <th>@Html.DisplayFor(model => model.CreatedAt)</th>
            <th>@Html.DisplayFor(model => model.UpdatedAt)</th>
            <td>
                <a asp-controller="Product" asp-action="Edit" asp-route-productId="@Model.Id"
                    class="btn btn-primary">Edit</a>
                <a asp-controller="Product" asp-action="Delete" asp-route-productId="@Model.Id"
                    class="btn btn-primary">Delete</a>
            </td>
        </tr>
    </tbody>
</table>